html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.blogheading {
  font-size: 30px;
}

h1 {
	font-size: 70px;
	padding-left: 40px;
	color: #66BFA6;
	font-family: heiti sc light;
	margin: 0.3em 0;
}

li {
	display: inline-block;
	font-size: 18px;
	margin-right: 30px;
}

a:hover, a:focus, a {
    color: #66BFA6;
    text-decoration: none;
}

img {
	margin: 7px 0;
}

#welcome-text {
  font-family: baskerville regular;
  font-size: 20px;
}

.col-sm-4 .artworks {
  border-radius: 50%;
}

.profilepic {
  border-radius: 50%;
}



/*Nav CSS*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: heiti sc light;
  margin-bottom: 40px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #224037;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 22px;
}

ul.topnav li a:hover {
	background-color: #66BFA6;
	color: black;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:768px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:768px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/* end Nav CSS*/


/*Footer social start*/
footer {
  text-align: center;
  border-top: solid 1px; 
  margin-top: 40px;
}
footer .logo {
  color: #66BFA6;
  font-family: courier;
  font-size: 20px;
}
footer ul li {
  display: inline-block;
  list-style: none;
 /* margin: 0 26px 75px;*/
}
footer ul li a img {
  width: 40px;
}
footer p {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
/*End footer social */

/*
Contact Form Styles*/
/*
#contact-form {
  width: 90%;
  margin: 50px;  
  position:relative;
}
*/

#contact-form h2 {
  margin-bottom:15px;
  font-size: 18px;
  font-weight: normal;
  font-family: baskerville regular;

}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
  font-size:15px;
  margin-bottom:2px;
  font-family: baskerville regular;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
  width:450px;
  border: 1px solid #CEE1E8;
  margin-bottom:20px;
  padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
  border: 1px solid #AFCDD8;
  background-color: #EBF2F4;
}

#contact-form textarea {
  height:150px;
  resize: none;
}

#contact-form label {
  display:block;
}

#contact-form .required {
  font-weight:bold;
  color:#F00; 
}

#contact-form #submit-button {
  width: 100px;
  background-color:#66BFA6;
  color:#FFF;
  border:none;
  display:block;
  float:right;
  margin-bottom:0px;
  margin-right:6px;
  background-color:#8FB5C1;
  -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
  background-color: #A6CFDD;
}

#contact-form #submit-button:active {
  position:relative;
  top:1px;
}

#contact-form #loading {
  width:32px;
  height:32px;
  background-image:url(../img/loading.gif);
  display:block;
  position:absolute;
  right:130px;
  bottom:16px;
  display:none;
}

#errors {
  border:solid 1px #E58E8E;
  padding:10px;
  margin:25px 0px;
  display:block;
  width:437px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
  display:none;
}

#errors li {
  padding:2px;
  list-style:none;  
}

#errors li:before {
  content: ' - '; 
}

#errors #info {
  font-weight:bold;
}

#errors #info:before {
  content: '';  
}

#success {
  border:solid 1px #83D186;
  padding:25px 10px;
  margin:25px 0px;
  display:block;
  width:437px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight:bold;
  display:none;
}

#errors.visible, #success.visible {
  display:block;  
}

#req-field-desc {
  font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
  color:#CCC;
  font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#CCC;
  font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
  color:#CCC;
  font-style:italic;
}




.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
/*.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }*/


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

